# Prerequisites
*.d

# Compiled Object files
*.o
*.slo
*.ko
*.lo
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Local
local*
.idea/
.vscode/
.DS_Store
venv
*.log
*.pdf
*.txt
*.docx
*.doc
*.tmp
*.7z

#Rails projects

# Ignore bundler config.
**/.bundle

# Ignore the default SQLite database.
**/db/*.sqlite3
**/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
**/log/*
**/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
**/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
**/storage/*
!/storage/.keep
**/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
**/config/master.key
