<p>Счастливые числа до <%= @n %> </p>
<table border = "1">
    <thead>
        <th>Число</th>
        <th>Сумма слева и справа</th>
    </thead>
    <% @lucky_nums.each_pair do |key, value| %>
    <tr>
        <td><%= key %></td>
        <td><%= value %></td>
    </tr>
    <% end %>
</table>