<p>Счастливые числа до <%= @n %> </p>
<table border = "1">
    <thead>
        <th>Число</th>
        <th>Сумма слева и справа</th>
    </thead>
    <% @lucky_nums.each_key do |key| %>
    <tr>
        <td><%= key %></td>
        <td><%= @lucky_nums[key] %></td>
    </tr>
    <% end %>
</table>